#album-header {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  width: 80vw;
  max-width: 600px;
  background-color: #e6f9ff;

}
#album-header .album-img {
    display: block;
    width: 200px;
  }

  #album-info {
    background-color:#e6f9ff;
    text-align: center;
    margin-right:100px;
    margin-top: 60px;
    margin-left: 40px;

}
#album-header .album-title {
      display: block;
      font-size: 20px;
      font-weight:600;
    }

    #album-artist-name {
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      color: #ff66a3;
      text-align: center;
    }

    #album-tracks-count {
      display: block;
      text-align: center;
    }
