#header {
  width: 100%;
  max-width: 1220px;
  margin-top:30px;
  padding-top: 10px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ccffcc;
}
#header .header-search-form {
    margin-left: 108px;
    width: 100%;
    max-width: 500px;
  }
  #header .header-search-bar {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
  }
  #brand {
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
    color: #ff6633;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 12px;
    margin-bottom: 30px;
  }
