#search-bar-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
#search-bar-wrapper #search-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/bg.jpeg");
  height: 30vh;
  width: 100%;
  transition: 0.6s;
}
#search-bar-wrapper .focused-bg {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
#search-bar-wrapper #search-bar {
  margin: 0 auto;
  width: 80vw;
  max-width: 600px;
  display: flex;
  background-color: #eefa;
  border: 1px solid grey;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: 0.4s;
}
#search-bar-wrapper #search-bar:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}
#search-bar-wrapper #search-bar input {
  flex: 9;
  font-size: 20px;
  border: none;
  margin: 0 14px;
  outline: none;
  background-color: transparent;
}
#search-bar-wrapper #search-bar img {
  padding: 12px 4px;
  flex: 1;
  max-height: 20px;
  border-left: 1px solid grey;
  cursor: pointer;
}
#search-bar-wrapper .focused-bar {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  background-color: #fffc !important;
}
